.search_bar {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 22px;
  width: 300px;
  height: 40px;
  >form>input {
    position: absolute;
    float: left;
    border: none;
    width: 260px;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 30px;
    font-family: 'omnesatt_iiregular';
    font-size: 13px;
  }
  input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
  }
  input:-moz-placeholder {
    /* FF 4-18 */
    color: rgb(255, 255, 255);
  }
  input::-moz-placeholder {
    /* FF 19+ */
    color: rgb(255, 255, 255);
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(255, 255, 255);
  }
  input:focus {
    outline: none;
  }
  >form>img {
    position: relative;
    float: right;
    padding-top: 10px;
  }
}

.search_bar_position {
  padding: 0 20px 0 0;
  float: right;
}