.sim_details_header {
  float: left;
  width: 100%;
  padding-left: 24px;
  overflow: hidden;
  z-index: 10;
  position: relative;
  height: 151px;
  transition: all 0.5s ease-in;
  box-shadow: 0.574px 0.819px 4.85px 0.15px rgba(0, 0, 0, 0.2);

  .buttons {
    float: left;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(242, 242, 243);
    width: 71px;
    height: 41px;
    margin-top: 25px;
    margin-bottom: 29px;
    text-align: center;
    cursor:pointer;

    svg {
      height: 39px;
      fill: #F2F2F2;

      >path {
        fill: #0574ac;
        }

    }

  }

  .sim_serial_number{
    float:left;
    font-family: $omnes-regular;
    font-size:21px;
    color:#333333;
    display: block;
    width: 100%;
  }
  
}