.title {
  float: left;
  padding-left: 20px;
  padding-top: -10px;
  .product_title {
    font-family: 'omnes_att_iibold';
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    line-height: 20%;
    padding-bottom: 5px;
  }

  .section_title {
    font-family: 'omnesatt_iiregular';
    font-size: 24px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
  }
}

.user_image {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(107, 192, 72);
  width: 40px;
  height: 40px;
}

.user_image_position {
  float: right;
}
