@import "~components/simdetails/SimDetails";
.tabs_container {
  >div>div:first-child {
    background-color: #f6f6f6 !important;
    border-bottom: 1px solid #dfe2e5;
    border-top: 1px solid #dfe2e5;
    height: 56px;
  }
  >div>div:first-child+div {
    height: 4px;
    border-bottom: 1px solid #dfe2e5;
    background-color: #f6f6f6 !important;
    >div:first-child {
      height: 4px !important;
      background-image: -moz-linear-gradient( 0deg, rgb(5, 116, 172) 0%, rgb(55, 161, 207) 18%, rgb(104, 206, 242) 50%, rgb(52, 161, 215) 83%, rgb(0, 115, 188) 100%);
      background-image: -webkit-linear-gradient( 0deg, rgb(5, 116, 172) 0%, rgb(55, 161, 207) 18%, rgb(104, 206, 242) 50%, rgb(52, 161, 215) 83%, rgb(0, 115, 188) 100%);
      background-image: -ms-linear-gradient( 0deg, rgb(5, 116, 172) 0%, rgb(55, 161, 207) 18%, rgb(104, 206, 242) 50%, rgb(52, 161, 215) 83%, rgb(0, 115, 188) 100%);
    }
  }
  >div>div:last-child {
    background-color: #ffffff !important;
  }
  .tab {
    >div>div {
      font-family: 'omnes_att_iimedium' !important;
      font-size: 14px;
    }
  }
}

.sim_details_table {
  >thead {
    >tr {
      >th {
        font-family: 'omnes_att_iimedium' !important;
        font-size: 12px !important;
        color: #666666 !important;
        text-transform: uppercase;
        padding-left: 50px !important;
      }
    }
  }
  >tbody {
    >tr {
      border-bottom: 1px solid #f2f2f2 !important;
      &:nth-child(odd) {
        background-color: rgb(250, 250, 250) !important;
      }
      >td {
        font-family: 'omnes_att_iilight' !important;
        font-size: 13px !important;
        color: #666666 !important;
        padding-left: 50px !important;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
  }
}

.sim_changes_table {
  >thead {
    >tr {
      >th {
        font-family: 'omnes_att_iimedium' !important;
        font-size: 12px !important;
        color: #666666 !important;
        text-transform: uppercase;
        padding-left: 50px !important;
        &:first-child {
          width: 15%;
        }
        &:last-child {
          width: 15%;
        }
      }
    }
  }
  >tbody {
    >tr {
      border-bottom: 1px solid #f2f2f2 !important;
      &:nth-child(odd) {
        background-color: rgb(250, 250, 250) !important;
      }
      >td {
        font-family: 'omnes_att_iilight' !important;
        font-size: 13px !important;
        color: #666666 !important;
        padding-left: 50px !important;
        &:first-child {
          text-transform: uppercase;
          width: 15%;
        }
        &:last-child {
          text-transform: uppercase;
          width: 15%;
          font-family: 'omnes_att_iimedium' !important;
          font-size: 12px !important;
          padding-left: 80px !important;
        }
        &:last-child {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 50px;
            top: 50%;
            margin-top: -6.5px;
            border-radius: 50%;
            width: 13px;
            height: 13px;
          }
          &.active {
            &:before {
              background-color: rgb(142, 209, 105);
            }
          }
          &.pending_changes {
            &:before {
              background-color: rgb(244, 175, 0);
            }
          }
        }
      }
    }
  }
}

.end_user_container {
  height: 215px;
  width: 100%;
}

.end_user_addresses {
  font-family: 'omnes_att_iilight' !important;
  font-size: 13px !important;
}

.end_user_addresses:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.addresses_block {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 40px;
  width: 25%;
  .address_title {
    font-family: 'omnes_att_iimedium' !important;
    font-size: 12px !important;
    color: #80c342;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  .address_content {
    font-family: 'omnes_att_iilight' !important;
    font-size: 13px !important;
    >p {
      padding-bottom: 5px;
      margin: 0;
    }
  }
  .user_icon {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .user_info {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    >p {
      padding-bottom: 15px;
      margin: 0;
    }
  }
}

.addresses_block:not(:first-child):after {
  content: "";
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 1px;
}

.details_button_container {
  height: 60px;
  width: 100%;
  padding: 20px 0;
  font-family: 'omnes_att_iimedium' !important;
  font-size: 14px !important;
  text-transform: uppercase;
  text-align: right;
}

.diagnostics_container {
  height: 215px;
  width: 100%;
}

.diagnostics_blocks_container {
  font-family: 'omnes_att_iilight' !important;
  font-size: 13px !important;
  >div:first-child {
    display: inline-block;
    width: 1%;
  }
  >div:last-child {
    display: inline-block;
    width: 1%;
  }
}

.diagnostics_blocks_container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.diagnostics_block_icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 17%;
  text-transform: uppercase;
  .diagnostics_item_title {
    font-family: 'omnesatt_iiregular' !important;
    font-size: 12px !important;
  }
  .diagnostics_item_status {
    font-family: 'omnes_att_iimedium' !important;
    font-size: 12px !important;
    color: #80c342;
  }
}

.diagnostics_block_dots {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 10%;
}