.form_containter {
  display: flex;
  padding: 0 45px;
  flex-direction: column;
  width: 100%;
}

.title {
  height: 110px;
  padding-top: 45px;

  >div:first-child {
    font-family: $omnes-medium;
    font-size: 21px;
    font-weight: 600;
    color: #5a5a5a;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  >div:last-child {
    font-family: $omnes-regular;
    font-size: 13px;
    font-weight: 600;
    color: #5a5a5a;
  }

}

.field_containter {
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;

  .field_title {
    font-family: $omnes-medium;
    font-size: 10px;
    color: #0056ae;
  }

}

.button_containter {
  height: 110px;
  padding-bottom: 10px;
}

.checkbox_wrapper {
  float: left;

  .checkbox {
    font-family: $omnes-regular;
    font-size: 11px;
    color: #5a5a5a;
    width: 132px !important;
    float: left;

    >div>div {
      margin-right: 5px !important;
    }

  }

  .forgot_password_wrapper {
    float: right;
    margin-top: 2px;

    >.forgot_password {
      font-family: $omnes-medium;
      font-size: 11px;
      color: #0568ae;
      text-decoration: none;
      cursor: pointer;
    }

  }

}

.password_wrapper{
  position: relative;

  .preview_password {
    position: absolute;
    right: 0;
    bottom: 10px;
    cursor: pointer;
    width: 20px;
    z-index: 30;
  }
}

.wrong_password {
  position: absolute;
  float: left;
  width: 100%;
  height: 60px;
  background-color: #cf2a2a;
  display: table;
  //display:none;
  border-radius: 0px 5px 0px 0px;

  .warning_img {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
    width: 55px;
  }

  .wrong_pass_text {
    float: left;
    display: table;
    height: 100%;

    div {
      display: table-cell;
      vertical-align: middle;

      div {
        
        &:first-child {
          font-family: $omnes-medium;
          font-size: 13px;
          color: #fff;
          display: block;
        }

        &:last-child {
          font-family: $omnes-regular;
          font-size: 10px;
          color: #fff;
          display: block;
        }

      }

    }

  }

}