@import "~components/sidebar/SidebarComponent";

.mc_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(242, 242, 242);
    width: 130px;
    z-index: 10;
    height: 100%;
    /*overflow: auto;
    overflow-x:hidden;*/
    .mc_att_logo {
        float: left;
        width: 100%;
        text-align: center;
        padding: 21px 0;
        img{
            width: 35px;
        }
    }
    >ul {
        float: left;
        width: 100%;
        >li {
            text-align: center;
            height: 70px;
            >a {
                float: left;
                width: 100%;
                height: 100%;
                text-decoration: none;
                position: relative;
                display: table;
                padding:0 10px;
                >div {
                    display: table-cell;
                    vertical-align: middle;
                }
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-family: 'omnes_att_iimedium';
                    font-size: 12px;
                    color: #666666;
                    line-height: 70%;
                    text-transform: uppercase;
                }
                svg {
                    fill: #F2F2F2;
                    >path {
                        fill: #666666;
                    }
                }
                &.active {
                    span {
                        color: #0574ac;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: rgb(5, 116, 172);
                        box-shadow: 0px 1px 4.8px 0.2px rgba(0, 0, 0, 0.2);
                        width: 5px;
                        height: 70px;
                    }
                    svg {
                        path {
                            fill: #0574ac;
                        }
                    }
                }
                &.log_out{
                    position: absolute;
                    float:none;
                    height:70px;
                    bottom: 0;
                    left:0;
                }
            }
        }
    }
}