@import "~components/headers/headerLayout/Header";

.header {
background-image: -moz-linear-gradient( 45deg, rgb(5,104,174) 0%, rgb(0,159,219) 100%);
 background-image: -webkit-linear-gradient( 45deg, rgb(5,104,174) 0%, rgb(0,159,219) 100%);
 background-image: -ms-linear-gradient( 45deg, rgb(5,104,174) 0%, rgb(0,159,219) 100%);
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 20;
}

.upper_header {
  width: 100%;
  height: 75px;
  padding: 20px 10px 10px 20px;
  z-index: 10;
}

.lower_header {
  position: relative;
  width: 100%;
  height: 285px;
  z-index: -10;
}

.menu {
  float: left;
  padding-top: 5px;
}

.user_menu {
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
}
