/* OmnesATT */


@font-face {
    font-family: 'omnesatt_iiregular';
    src: url('/src/brands/default/styles/fonts/omnes_att_ii-regular-webfont.eot');
    src: url('/src/brands/default/styles/fonts/omnes_att_ii-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/src/brands/default/styles/fonts/omnes_att_ii-regular-webfont.woff2') format('woff2'), url('/src/brands/default/styles/fonts/omnes_att_ii-regular-webfont.woff') format('woff'), url('/src/brands/default/styles/fonts/omnes_att_ii-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes_att_iimedium';
    src: url('/src/brands/default/styles/fonts/omnes_att_ii_medium-webfont.eot');
    src: url('/src/brands/default/styles/fonts/omnes_att_ii_medium-webfont.eot?#iefix') format('embedded-opentype'), url('/src/brands/default/styles/fonts/omnes_att_ii_medium-webfont.woff2') format('woff2'), url('/src/brands/default/styles/fonts/omnes_att_ii_medium-webfont.woff') format('woff'), 
    url('/src/brands/default/styles/fonts/omnes_att_ii_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'omnes_att_iilight';
    src: url('/src/brands/default/styles/fonts/omnes_att_ii_light-webfont.eot');
    src: url('/src/brands/default/styles/fonts/omnes_att_ii_light-webfont.eot?#iefix') format('embedded-opentype'), url('/src/brands/default/styles/fonts/omnes_att_ii_light-webfont.woff2') format('woff2'), url('/src/brands/default/styles/fonts/omnes_att_ii_light-webfont.woff') format('woff'), url('/src/brands/default/styles/fonts/omnes_att_ii_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}