@import "~brands/default/styles/generic/reset.scss";
@import "~brands/default/styles/generic/box-sizing.scss";
@import "~brands/default/styles/generic/normalize.scss";
@import "~brands/default/styles/fonts.scss";


$base-color: green;
$omnes-medium: 'omnes_att_iimedium';
$omnes-regular: 'omnesatt_iiregular';
$omnes-light: 'omnes_att_iilight';
$omnes-bold: 'omnes_att_iibold';
