/* toggle menu */
.hamburger {
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 25px;
    height: 9px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
}
.hamburger span:after,
.hamburger span:before {
		content: "";
    position: absolute;
    left: 0;
    -webkit-transform: rotateZ(0) translate3d(0, -7px, 0);
    transform: rotateZ(0) translate3d(0, -7px, 0);
}
.hamburger span:after {
    -webkit-transform: rotateZ(0) translate3d(0, 7px, 0);
    transform: rotateZ(0) translate3d(0, 7px, 0);
}
.hamburger span {
    position: relative;
    display: block;
}
.hamburger span,
.hamburger span:after,
.hamburger span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* active */
.hamburger.active span {
    background-color: transparent;
}
.hamburger.active span:before {
    -webkit-transform: rotateZ(45deg) translate3d(0, 0, 0);
    transform: rotateZ(45deg) translate3d(0, 0, 0);
}
.hamburger.active span:after {
    -webkit-transform: rotateZ(-45deg) translate3d(0, 0, 0);
    transform: rotateZ(-45deg) translate3d(0, 0, 0);
}
/* toggle menu */
